<!DOCTYPE html>

{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>PlayFrame - Accounts</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  </head>
  <body>
    <div class="back-button">
      <a href="{% url 'accounts:login' %}" style="text-decoration: none; color: aliceblue;"><button>← Back</button></a>
    </div>

    <div class="login-card">
      <h2>Register</h2>
      <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
          <div class="form-group">
            <label for="{{ field.label }}">{{ field.label }}</label>
            {{ field }}
          </div>
        {% endfor %}

        <div class="form-buttons">
          <button type="submit">Register</button>
          <button type="reset" class="reset-btn">Reset</button>
        </div>
        <div class="register-link">
          <p>
            sign in using exisiting account? <a href="{% url 'accounts:login' %}">Login here</a>
          </p>
        </div>
      </form>
    </div>
  </body>
</html>
